<%- include('./partials/head.ejs') %> 
  <body>
    <div class="header">
      <p>BKK <span>2D</span> <span>3D</span></p>
    </div>
    <div class="content">
    <h1>Admin Panel</h1>
       <form action="/admin" id="form" method="post">
           <input type="text" name="buy" placeholder="Buy">
           <input type="text" name="sell" placeholder="Sell">
           <button type="submit">Update</button>
       </form>
           <button type="button" onclick="deleteData()" id="deleteBtn">Delete</button>
    </div>
  </body>

  <script>

     function deleteData () {
        let xmlHttp = null;
      xmlHttp = new XMLHttpRequest();
      xmlHttp.open("DELETE", "/admin", false);
      xmlHttp.send(null);
      let data = JSON.parse(xmlHttp.response);
     }
  </script>
</html>
