<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gold 2D 3D</title>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="header">
      <p>Gold 2D 3D</p>
    </div>
    <div class="content">
      <div class="datetime">
        <span class="date" id="last-update"></span>
      </div>
      <p class="market-status">
        Market Status: <span id="market-status"></span>
      </p>
      <div class="top-content">
        <div class="buy-sell">
          <div class="card" style="flex-grow: 1; margin-right: 10px">
            <p class="card-label">Buy</p>
            <p class="card-number" id="buy-data">1.333</p>
          </div>
          <div class="card" style="flex-grow: 1; margin-left: 10px">
            <p class="card-label">3D</p>
            <p class="card-number">293</p>
          </div>
        </div>
        <div class="buy-sell">
          <div class="card" style="flex-grow: 1; margin-right: 10px">
            <p class="card-label">Sell</p>
            <p class="card-number" id="sell-data">2.392</p>
          </div>
          <div class="card" style="flex-grow: 1; margin-left: 10px">
            <p class="card-label">2D</p>
            <p class="card-number">22</p>
          </div>
        </div>
      </div>
      <div class="round">
        <p class="round-time">Round 7:00 PM</p>
        <div class="card round-card">
          <div class="round-result">
            <p class="round-title">Buy</p>
            <p class="round-number">1.303</p>
          </div>
          <div class="round-result">
            <p class="round-title">Sell</p>
            <p class="round-number">5.390</p>
          </div>
          <div class="round-result">
            <p class="round-title">3D</p>
            <p class="round-number">933</p>
          </div>
          <div class="round-result">
            <p class="round-title">2D</p>
            <p class="round-number">20</p>
          </div>
        </div>
      </div>
      <div class="result">
        <button class="result-btn">View Result History</button>
      </div>
    </div>
  </body>

  <script>
    function getLiveData() {
      let xmlHttp = null;
      xmlHttp = new XMLHttpRequest();
      xmlHttp.open("GET", "/live", false);
      xmlHttp.send(null);
      let data = JSON.parse(xmlHttp.response).data;
      document.getElementById("buy-data").innerText = data.set;
      document.getElementById("sell-data").innerText = data.value;
      document.getElementById("market-status").innerText = data.status;
      document.getElementById("last-update").innerText =
        data.last_update.replace(/(\r\n|\n|\r)/gm, "");

      if (data.status !== "Closed") {
        document.getElementById("buy-data").classList.add("blink_me");
        document
          .getElementById("market-status")
          .classList.remove("market-status-closed");
      } else {
        document.getElementById("buy-data").classList.remove("blink_me");
        document
          .getElementById("market-status")
          .classList.add("market-status-closed");
      }
    }

    setInterval(() => {
      getLiveData();
    }, 5000);
  </script>
</html>
