<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gold 2D 3D</title>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="header">
      <p>Gold 2D 3D</p>
    </div>
    <div class="content">
      <div class="datetime">
        <svg
          class="icon"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
          ></path>
        </svg>
        <span class="date"> 13/5/2022 </span>
        <span class="time"> 18:55:30 </span>
      </div>

      <div class="top-content">
        <div class="buy-sell">
          <div class="card" style="flex-grow: 1; margin-right: 10px">
            <p class="card-label">Buy</p>
            <p class="card-number">1.333</p>
          </div>
          <div class="card" style="flex-grow: 1; margin-left: 10px">
            <p class="card-label">3D</p>
            <p class="card-number">293</p>
          </div>
        </div>
        <div class="buy-sell">
          <div class="card" style="flex-grow: 1; margin-right: 10px">
            <p class="card-label">Sell</p>
            <p class="card-number">2.392</p>
          </div>
          <div class="card" style="flex-grow: 1; margin-left: 10px">
            <p class="card-label">2D</p>
            <p class="card-number">22</p>
          </div>
        </div>
      </div>
      <div class="round">
        <p class="round-time">Round 7:00 PM</p>
        <div class="card round-card">
          <div class="round-result">
            <p class="round-title">Buy</p>
            <p class="round-number">1.303</p>
          </div>
          <div class="round-result">
            <p class="round-title">Sell</p>
            <p class="round-number">5.390</p>
          </div>
          <div class="round-result">
            <p class="round-title">3D</p>
            <p class="round-number">933</p>
          </div>
          <div class="round-result">
            <p class="round-title">2D</p>
            <p class="round-number">20</p>
          </div>
        </div>
      </div>
      <div class="result">
          <button class="result-btn">View Result History</button>
      </div>
    </div>
  </body>
</html>
