<%- include('../partials/head.ejs') %> 
  <body>
    <div class="header">
      <p>BKK <span>2D</span> <span>3D</span></p>
    </div>
     
    <div class="content">
      <% if(marquee){ %> 
      <marquee class="marquee-text"><%= marquee %> </marquee>
      <% } %> 
      <div class="datetime">
        <img src="schedule.png" style="width: 25px; height: 25px" alt="" />
        <span class="date" id="date">--/--/----</span>
        <span class="time" id="time">00:00:00</span>
      </div>
      <div class="top-content">
        <div class="buy-sell">
          <div class="card" style="flex-grow: 1; margin-right: 10px">
            <p class="card-label">Buy</p>
            <p class="card-number blink_me" id="buy-data">----</p>
          </div>
          <div class="card" style="flex-grow: 1; margin-left: 10px">
            <p class="card-label">3D</p>
            <p class="card-number" id="d3-data">---</p>
          </div>
        </div>
        <div class="buy-sell">
          <div class="card" style="flex-grow: 1; margin-right: 10px">
            <p class="card-label">Sell</p>
            <p class="card-number blink_me" id="sell-data">----</p>
          </div>
          <div class="card" style="flex-grow: 1; margin-left: 10px">
            <p class="card-label">2D</p>
            <p class="card-number" id="d2-data">--</p>
          </div>
        </div>
      </div>
      <div class="round">
        <p class="round-time" id="round-time"></p>
        <div class="card round-card">
          <div class="round-result">
            <p class="round-title">Buy</p>
            <p class="round-number" id="round-buy"></p>
          </div>
          <div class="round-result">
            <p class="round-title">Sell</p>
            <p class="round-number" id="round-sell"></p>
          </div>
          <div class="round-result">
            <p class="round-title">3D</p>
            <p class="round-number" id="round-threed"></p>
          </div>
          <div class="round-result">
            <p class="round-title">2D</p>
            <p class="round-number" id="round-twod"></p>
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="result">
          <button class="result-btn" onclick="location.href='/results'">
            <img src="bar-chart.png" alt="" /> Results
          </button>
        </div>
        <!-- <div class="server">
          <button class="server-btn" onclick="location.href='/stats'">
            <img src="server.png" alt="" /> Server Busy
          </button>
        </div> -->
      </div>
    </div>
  </body>

  <script>
    function getLiveData() {
      const today = new Date();
      const dd = String(today.getDate()).padStart(2, "0");
      const mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
      const yyyy = today.getFullYear();
      document.getElementById("date").innerText = dd + "/" + mm + "/" + yyyy;
      document.getElementById("time").innerText = today.toLocaleTimeString();

      let xmlHttp = null;
      xmlHttp = new XMLHttpRequest();
      xmlHttp.open("GET", "/api/live", false);
      xmlHttp.send(null);
      let data = JSON.parse(xmlHttp.response);
      document.getElementById("buy-data").innerText = data.num_one;
      document.getElementById("sell-data").innerText = data.num_two;
      document.getElementById("d3-data").innerText = data.three_d;
      document.getElementById("d2-data").innerText = data.two_d;
    }
    

     function getRoundData() {
      let xmlHttp = null;
      xmlHttp = new XMLHttpRequest();
      xmlHttp.open("GET", "/api/results", false);
      xmlHttp.send(null);
      let data = JSON.parse(xmlHttp.response).data;
      if(data.length > 0){
        document.getElementById("round-time").innerText = "Round " + data[0]?.time;
        document.getElementById("round-buy").innerText = data[0]?.buy;
        document.getElementById("round-sell").innerText = data[0]?.sell;
        document.getElementById("round-threed").innerText = data[0]?.three_d;
        document.getElementById("round-twod").innerText = data[0]?.two_d;
      }
    }

    setInterval(() => {
      getLiveData();
      getRoundData();
    }, 1000);
  </script>
</html>
