<%- include('../partials/head.ejs') %> 

  <body>
      <div class="header">
      <p>BKK <span>2D</span> <span>3D</span></p>
    </div>

    <div class="content">
        <div class="card round-card">
          <div class="round-result">
            <p class="round-title">Date</p>
            <p class="round-number"></p>
          </div>
          <div class="round-result">
            <p class="round-title">Time</p>
            <p class="round-number"></p>
          </div>
          <div class="round-result">
            <p class="round-title">Status</p>
            <p class="round-number"></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
